@font-face {
  font-family: "BalihoScript";
  src: local("BalihoScript"), url("./fonts/BalihoScript.ttf") format("truetype");
}
@font-face {
  font-family: "GeomanistMedium";
  src: local("GeomanistMedium"), url("./fonts/Geomanist-Medium.otf") format("opentype");
}
@font-face {
  font-family: "GeomanistRegular";
  src: local("GeomanistRegular"), url("./fonts/Geomanist-Regular.otf") format("opentype");
}
@font-face {
  font-family: "GeomanistLight";
  src: local("GeomanistLight"), url("./fonts/Geomanist-Light.otf") format("opentype");
}
@font-face {
  font-family: "GeomanistBold";
  src: local("GeomanistBold"), url("./fonts/Geomanist-Bold.otf") format("opentype");
}
a {
  color: inherit;
  text-decoration: none;
}
.active{
  color: #39b54a;
}