@font-face {
  font-family: 'BalihoScript';
  src: local('BalihoScript'), url('./fonts/BalihoScript.ttf') format('truetype');
}
@font-face {
  font-family: 'GeomanistMedium';
  src: local('GeomanistMedium'),
    url('./fonts/Geomanist-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'GeomanistRegular';
  src: local('GeomanistRegular'),
    url('./fonts/Geomanist-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'GeomanistLight';
  src: local('GeomanistLight'),
    url('./fonts/Geomanist-Light.otf') format('opentype');
}
@font-face {
  font-family: 'GeomanistBold';
  src: local('GeomanistBold'),
    url('./fonts/Geomanist-Bold.otf') format('opentype');
}
* {
  font-family: 'BalihoScript' !important;
}
.PrismaneCenter-root.active {
  .PrismaneCircle-root {
    background-color: #39b54a;
  }
}
.PrismaneTextField-root {
  font-family: 'GeomanistMedium' !important;
}
.PrismaneTextField-label {
  font-size: 1rem;
}
.PrismaneButton-text {
  font-family: 'GeomanistMedium' !important;
}
.Geomanist-font {
  font-family: 'Geomanist' !important;
}
.GeomanistLight-font {
  font-family: 'GeomanistLight' !important;
}
.GeomanistMedium-font {
  font-family: 'GeomanistMedium' !important;
}
.GeomanistBold-font {
  font-family: 'GeomanistBold' !important;
}
.active {
  color: #39b54a;
}
a {
  color: inherit;
  text-decoration: none;
  font-family: 'GeomanistMedium' !important;
}
